$text-darkGray: #434242;
$text-darkBlack: #111827;
$text-vividRed: #da4113;
$text-antiqueWhite: antiquewhite;
$bg-darkMagenta: #2d033b;
$bg-paleWhite: #FFFDFE;
$bg-white: #FFFFFF;
$border-lightGray: #D1D5DB;