@import './partials/colors';
@import './partials/dimensions';

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    color: $text-darkGray;
    width: $body-width;
    min-height: $body-min-height;
}

.container {
    width: $container-width;
    max-width: $container-max-width;
    margin: 0 auto;
    padding-top: 1em;
    background: $bg-paleWhite;
}

.wrapper {
    display: flex;
    justify-content: center;
}

img {
    border-style: none;
    height: $image-height;
    width: $image-width;
}


.hex-value {
    text-align: center;
    font-weight: 900;

    &:hover {
        cursor: pointer;
        color: $text-vividRed;
    }
}


.color-form {
    display: flex;
    gap: .5em;
    justify-content: space-evenly;
    align-content: center;
    padding: 1em .5em 1.5em .5em;
}

input,
select,
button {
    font-family: inherit;
    height:$form-elements-height;
}

select,
button {
    border: 1px solid $border-lightGray;
}

select {
    background-color: $bg-white;
    padding: 0 .8em;
    width: $select-width;
}

option {
    font-size: 1rem;
    line-height: 2.4;
    color: $text-darkBlack;
}

button {
    background-color: $bg-paleWhite;
    border-radius: 4px;
    padding: 0 .8em;
    cursor: pointer;
}

.get-btn:hover,
.get-btn:focus {
    background: $bg-darkMagenta;
    color: $text-antiqueWhite;
    transition: 500ms;
    font-weight: 700;
    text-transform: uppercase;
}